aiohttp==3.8.4
aiohttp-jinja2==1.5.1
connexion==2.14.2
# test dependencies but we will install them manually in docker file
# pytest==7.3.0
# pytest-aiohttp==1.0.4
# pytest-asyncio==0.21.0
swagger-ui-bundle==0.0.9